/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */
html{
	
   cursor: url('paw.png'), auto;
	
}

body {
  background-color: pink;
  background-image: url("webbedsite.gif");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-attachment: fixed;
  color: black;
  font-family: Verdana;
  font-size: 18px;
  line-height: 1.4;
  margin: 0 3%;
  }
  
ul
  {
  list-style-type: none;
  }
#demobox 
  {
  float: right;
  width: 55%;
  margin: 0 auto;
  padding: 20px;
  background-color: white ;
  text-align: center;
  border: 8px solid black;
  border-radius: 25px;
} 

#guestbook
  {
  padding: 20px 40px;
  background-color: white;
  border: 8px solid black;
  border-radius: 25px;
  float: left;
  width: 35%;
  margin: 0 auto;
  text-align: center;
}

.topnav {
  padding: 20px 35px;
  background-color: white;
  border: 8px solid black;
  border-radius: 25px;
  overflow: hidden;
  }
  
.topnav a {
  float: none;
  text-align: center;
  padding: 30px 50px;
  text-decoration: none;
  font-size: 17px;
  color: black;
}
 .active {
  padding: 20px 0px;
  background-color: pink;
  color: white;
}

@media(orientation: portrait)
{ 
  body{
    
  width: 100%;
    margin: 0% 0%;
  padding: 0px 0px;
    float: none;
    }
  #guestbook
  {
  width: 100%;
    
    margin: 0% 0%;
  padding: 0px 0px;
    float: none;
    }  
}
  