body {
         background-image: url("images/bg.png");
		 background-repeat: no-repeat;
		background-attachment: fixed;
		  background-size: cover;
         text-align: center;
         font-family: PC-98;
         }
         
         @font-face {
    font-family: 'PC-98'; /*a name to be used later*/
    src: url('pc-9800.ttf'); /*URL to font*/
}
      
    #demobox {
  width: 700px;
  margin: auto;
  text-align:left; 
  font-size:22px;
  background-color: #c4dbba;
  font-family: PC-98;
  padding: 15px;
  color: white;
  background:linear-gradient(#393939, #393939, #242424)
    }
	.topnav {
  width: 700px;
  margin: auto;
  text-align:center; 
  font-size:26px;
  background-color: #c4dbba;
  font-family: PC-98;
  padding: 15px;
  color: white;
  background:linear-gradient(#090C1E, #090C1E, #252737)
    }
	
	#guestbook	{
  width: 600px;
  margin: auto;
  border: 1px solid pink;
  text-align:center;
  font-size:20px;
  font-family: PC-98;
  padding: 15px;
	color: white;
    }
	
    
   
@media (orientation: portrait) {
 .flandre {
      display: none;
	}
}

@media (orientation: landscape) {
 .flandre {
      position: fixed;
      bottom: 0px;
	}
}
a:link {
  color: #FFD1EC;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #FF7CCA;
  background-color: transparent;
  text-decoration: none;
}